.content
  .container-flex
    .row
      .col-md-12
        .panel.panel-success
          .panel-heading
            .panel-actions.pull-right
              = link_to new_<%= prefixed_plain_model_url %>_path, class: 'btn-action btn-bordered' do
                = fa_icon 'plus', text: t('.new', default: :'butler.helpers.links.new')

            %h3.panel-title
              = t 'butler.views.index.title', resources: @<%= plural_table_name %>.model_name.human.pluralize, amount: @<%= plural_table_name %>.total_count

          .panel-body
            %table.table.table-bordered
              %thead
                %tr
<% for attribute in attributes -%>
                  %th= <%= class_name %>.human_attribute_name(:<%= attribute.name %>)
<% end -%>
                  %th= <%= class_name %>.human_attribute_name(:created_at)
                  %th &nbsp;

              %tbody
                - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                  %tr[<%= singular_table_name %>]
<% for attribute in attributes -%>
                    %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
                    %td= l <%= singular_table_name %>.created_at, format: :date
                    %td{ width: '120px' }
                      .btn-group
                        = link_to <%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'btn btn-tiny btn-grey', title: t('.show', default: :'butler.helpers.links.show') do
                          = fa_icon 'eye'

                        = link_to edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'btn btn-grey btn-tiny', title: t('.edit', default: :'butler.helpers.links.edit') do
                          = fa_icon 'edit'

                        = button_to <%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), method: :delete, data: { confirm: t('.confirm', default: :'butler.helpers.links.confirm') }, class: 'btn btn-danger btn-tiny', title: t('.destroy', default: :'butler.helpers.links.destroy') do
                          = fa_icon 'trash'

            = paginate @<%= plural_table_name %>
