.content
  .container-flex
    .row
      .col-md-12
        .panel.panel-success
          .panel-heading
            .panel-actions.pull-right
              = link_to <%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), method: 'delete', data: { confirm: t('.confirm', default: :'butler.helpers.links.confirm_delete') }, class: 'btn btn-danger', title: t('.destroy', default: :'butler.helpers.links.destroy') do
                = fa_icon 'trash', text: t('.destroy', default: :'butler.helpers.links.destroy')

              = link_to edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn-action btn-bordered', title: t('.edit', default: :'butler.helpers.links.edit') do
                = fa_icon 'edit', text: t('.edit', default: :'butler.helpers.links.edit')

            %h3.panel-title
              = link_to <%= prefixed_index_helper %>_path, class: 'btn', title: t('.back', default: :'butler.helpers.links.back') do
                = fa_icon 'chevron-left'
              = "#{<%= class_name %>.model_name.human}: ##{@<%= singular_table_name %>.id}"

          .panel-body
            %table.table.table-bordered.table-fixed-th
<% for attribute in attributes -%>
              %tr
                %th.nowrap= <%= class_name %>.human_attribute_name(:<%= attribute.name %>)
                %td= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
