.menu
  .container-flex.clearfix.menu-inner
    .pull-right
      = render 'layouts/partials/user_profile'
    %ul
      %li.brand
        %a{href: '#'}
          %strong
            %span.echo ECHO
            %span.live LIVE
            CMS
      %li
        %a.active{href: '#'}
          = <%= class_name %>.model_name.human(count: 2)

      %li
        %a{href: '#'} Another Item

      %li
        %a{href: '#', data: { toggle: 'dropdown' }}
          Item with dropdown
          .caret
        %ul.dropdown-menu{ role: 'dropdown' }
          %li
            = link_to 'Option 1', '#'
          %li
            = link_to 'Option 2', '#'
          %li
            = link_to 'Option 3', '#'
          %li.divider
          %li
            = link_to 'Option 4', '#'


      %li
        %a{href: '#', data: { toggle: 'dropdown' }}
          Dropdown Item
          .caret
        %ul.dropdown-menu{ role: 'dropdown' }
          %li
            = link_to 'Option 1', '#'
          %li
            = link_to 'Option 2', '#'
          %li
            = link_to 'Option 3', '#'
