/ user-profile-partial

.user-profile
  .persona
    = image_tag 'dummy_user.png'
    .name{ data: { toggle: 'dropdown' } }
      %strong= current_user.email
      %p= current_user.email
      %span.caret

    %ul.dropdown-menu.pull-right{ role: 'dropdown' }
      %li
        = link_to 'Einstellungen', edit_user_registration_path

      %li.divider
      %li
        = link_to destroy_user_session_path, method: :delete do
          = fa_icon 'power-off', text: 'Abmelden'
