.panel.panel-success
  .panel-heading
    .panel-actions.pull-right
      - unless @<%= singular_table_name %>.new_record?
        = link_to <%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn-action btn-bordered' do
          = fa_icon 'eye', text: t('.show', default: t("helpers.links.show"))

        = link_to '#', target: '_blank', class: 'btn-action btn-bordered' do
          = fa_icon 'external-link-square', text: t('.preview', default: t("helpers.links.preview"))

    %h3.panel-title
      Attribute

  .panel-body
    = simple_form_for [:admin, @<%= singular_table_name %>], html: {  class: 'form <%= singular_table_name %>' } do |f|
      .row-grey
        .col-md-12
<% for attribute in attributes -%>
<% if attribute.type == :datetime || attribute.type == :date -%>
          = f.input :<%= attribute.name %>, label: t('headers.<%= attribute.name %>'), as: :string, input_html: { class: 'datepicker' }
<% elsif attribute.type == :boolean -%>
           = f.input :<%= attribute.name %>, inline_label: t('headers.<%= attribute.name %>'), as: :boolean, boolean_style: :inline, label: false, wrapper: :nc_admin_ui_cb
<% else -%>
          = f.input :<%= attribute.name %>, label: t('headers.<%= attribute.name %>')
<% end -%>
<% end -%>
      .row
        .col-md-12
          = f.submit t('.create', default: t('helpers.links.create')), class: 'btn btn-primary'
          = link_to t('.cancel', default: t('helpers.links.cancel')), <%= prefixed_index_helper %>_path, class: 'btn btn-grey'
