- model_class = <%= class_name %>

.content
  .container-flex
    .row
      .col-md-12
        = render 'layouts/admin/search', resource: :<%= plural_table_name %>

      .col-md-12
        .panel.panel-success
          .panel-heading
            .panel-actions.pull-right
              = link_to new_<%= prefixed_plain_model_url %>_path, class: 'btn-action btn-bordered' do
                = fa_icon 'plus', text: t('.new', default: t('helpers.links.new'))

            %h3.panel-title
              = "#{model_class.model_name.human(count: 2)}s (#{@<%= plural_table_name %>.count})"

          .panel-body
            %table.table.table-bordered
              %sortable_table_header
                %tr
<% for attribute in attributes -%>
                  %th= sortable_table_header('<%= attribute.name %>', :<%= attribute.name %>, lambda { |q| <%= prefixed_index_helper %>_path(q) })
<% end -%>
                  %th= sortable_table_header('created_at', :created_at, lambda { |q| <%= prefixed_index_helper %>_path(q) })
                  %th &nbsp;

              %tbody
                - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
                  %tr
<% for attribute in attributes -%>
                    %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
                    %td= format_datetime <%= singular_table_name %>.created_at
                    %td{ width: '120px' }
                      .btn-group
                        = link_to <%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'btn btn-tiny btn-grey', title: t('.show', default: t('helpers.links.show')) do
                          = fa_icon 'eye'

                        = link_to edit_<%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), class: 'btn btn-grey btn-tiny', title: t('.edit', default: t('helpers.links.edit')) do
                          = fa_icon 'edit'

                        = button_to <%= prefixed_plain_model_url %>_path(<%= singular_table_name %>), method: :delete, data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) }, class: 'btn btn-danger btn-tiny', title: t('.destroy', default: t('helpers.links.destroy')) do
                          = fa_icon 'trash'
