.content
  .container-flex
    .row
      .col-md-12
        .panel.panel-success
          .panel-heading
            .panel-actions.pull-right
              = link_to <%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), method: 'delete', data: { confirm: t('.confirm', default: t('helpers.links.confirm_delete', default: 'Are you sure?')) }, class: 'btn btn-danger' do
                = fa_icon 'trash'

              = link_to edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn-action btn-bordered' do
                = fa_icon 'edit', text: t('.edit', default: t("helpers.links.edit"))

            %h3.panel-title
              = link_to <%= prefixed_index_helper %>_path, class: 'btn' do
                = fa_icon 'chevron-left'
              = "<%= plural_table_name.titleize %>: ##{@<%= singular_table_name %>.id}"

          .panel-body
            %table.table.table-bordered.table-fixed-th
<% for attribute in attributes -%>
              %tr
                %th.nowrap= t('headers.<%= attribute.name %>')
                %td= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
