- model_class = <%= class_name %>

.page-content-header
  .container-flex
    %h3=t '.title', default: model_class.model_name.human.titleize

.content
  .container-flex
    .row
      .col-md-12
        .panel.panel-success
          .panel-heading
            %h3.panel-title
              = "<%= singular_table_name.titleize %>: ##{@<%= singular_table_name %>.id}"

          .panel-body
            %table.table.table-bordered
<% for attribute in attributes -%>
              %tr
                %th.nowrap= model_class.capitalize.constantize.human_attribute_name(attribute)
                %td= @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>

            %br

            .actions
              = link_to t('.back', default: t('helpers.links.back')), <%= prefixed_index_helper %>_path, class: 'btn btn-default btn-tiny'
              = link_to t('.edit', default: t('helpers.links.edit')), edit_<%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), class: 'btn btn-info btn-tiny'
              = link_to t('.destroy', default: t('helpers.links.destroy')), <%= prefixed_plain_model_url %>_path(@<%= singular_table_name %>), method: 'delete', data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) }, class: 'btn btn-danger btn-tiny'
